{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ],
      "plugins":["transform-object-rest-spread", { "useBuiltIns": true }]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]


    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ],
      "plugins": ["transform-decorators-legacy"]

    }
  },
  "plugins": ["transform-runtime","transform-decorators-legacy"]
}
